#stats
  = "#{@count} stories"
%h1
  Current iteration
%ul#story-list
  - @stories.each do |name, project|
    - project.each do |s|
      %li
        .panel
          #{name}
          %br/
          %span.id #{s.id}
        .story
          %span.handle 
          .text
            - if s.labels 
              %span.labels #{s.labels}
            %span.name #{s.name}
            - if s.estimate  
              %span.estimate #{s.estimate} 
          .details
            - if s.description != '' 
              %br/
              %span.description #{s.description}
