#stats
  = "#{@count} stories"
%h1
  Current iteration
%ul#story-list
  - @stories.each do |name, project|
    - project.each do |s|
      %li{:id => s.id}
        .panel
          #{name}
          %br/
          %span.id #{s.id}
        .story
          %span.handle 
          %input.done{:type=>'submit', :value=>'Done', :name=>name+'^^'+s.id.to_s} 
          .text
            - if s.labels 
              %span.labels #{s.labels}
            %span.name #{s.name}
            - if s.estimate  
              %span.estimate #{s.estimate} 
          .details
            - if s.description != '' 
              %br/
              %span.description #{s.description}
