#stats
  %span#story-count &nbsp;
%h1
  Current iteration
%ul#story-list
  - @stories.each do |name, project|
    - project.each do |s|
      %li{:id => 'li_'+s.id.to_s, :class=> s.story_type}
        .panel
          :escaped
            #{name}
          %br/
          %span.id #{s.id}
        .story
          %span.story_type 
          %input.done{:type=>'submit', :value=>'Done', :name=>name+'^^'+s.id.to_s} 
          .text
            - if s.labels 
              %span.labels
                :escaped
                  #{s.labels}
            %span.name
              :escaped
                #{s.name}
            - if s.estimate  
              %span.estimate #{s.estimate} 
            - if s.description != '' || s.has_tasks?
              .details
                - if s.description != ''
                  %span.description
                    %h4 Description
                    :escaped
                      #{s.description}
                    %br/
                - if s.has_tasks?
                  %span.tasks
                    %h4 Tasks
                    %ol
                      - s.tasks.all.each do |t|
                        %li
                          :escaped
                            #{t.description}
                %br{:style=>'clear:both;'}/
